@import "tailwindcss";

:root {
  --background: white;
  --foreground: #ffffff;
  --primary: #c175fc;

  --navy: 222 47% 11%; /* for bg-navy */
  --amber: 47 91% 46%;
  --amber-hover: 47 91% 40%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

@layer utilities {
  /* Text / background utilities */
  .text-amber {
    color: hsl(var(--amber));
  }
  .bg-amber {
    background-color: hsl(var(--amber));
  }
  .bg-amber-hover {
    background-color: hsl(var(--amber-hover));
  }
  .border-amber {
    border-color: hsl(var(--amber));
  }
  .ring-amber {
    --tw-ring-color: hsl(var(--amber));
  }

  .bg-navy {
    background-color: hsl(var(--navy));
  }

  /* Hover utilities */
  .hover\:bg-amber:hover {
    background-color: hsl(var(--amber));
  }
  .hover\:bg-amber-hover:hover {
    background-color: hsl(var(--amber-hover));
  }

  .hover\:text-navy:hover {
    color: hsl(var(--navy));
  }

  /* Other layout utilities */
  .section-title {
    @apply text-3xl lg:text-5xl font-semibold mb-6;
  }
  .section-subtitle {
    @apply text-[#242424] text-[16px] lg:text-lg leading-relaxed;
  }
  .container {
    @apply container mx-auto px-4 md:px-5;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

/* Ant Design fixes */
.ant-btn {
  box-shadow: none !important;
}

.boxShadow {
  box-shadow: 0px 3px 4px 0px #0000001a;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
:where(.css-dev-only-do-not-override-o38y83).ant-input-outlined:focus, :where(.css-dev-only-do-not-override-o38y83).ant-input-outlined:focus-within {
  outline: none !important;
  box-shadow: none !important;
  border-color: #0C1223 !important;
}

.ant-select.ant-select-lg.ant-select-outlined.ant-select-in-form-item.ant-select-status-success.rounded-md.css-dev-only-do-not-override-15a0jj.ant-select-single.ant-select-show-arrow {
  background-color: #F1F1F1;
}
.ant-drawer-close {
  right: 16px !important;  /* adjust as needed */
  left: auto !important;
}


.react-international-phone-input {
  border-radius: 0.375rem;
  background-color: #F1F1F1 !important;
  border: none;
  width: 100%;
  padding: 0.5rem;
}

button.react-international-phone-country-selector-button {
    background: #f1f1f1;
}
button.react-international-phone-country-selector-button:focus {
    background: #e0b20b !important;
}


.react-international-phone-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #e0b20b !important;
}